.active-item {    
border-left: 8px solid var(--ion-color-primary);
}

.titleFont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px
}

ion-item{
    --background: #fff;
    --color: black;
}

ion-button{
    --background: blue;
}

h3 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}