.footer-wrap {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 14px;
    font-size: 12px;
    padding: 5px;
    text-align: right
}

.version-wrap {
    float: left;
}
